<div class="container">
    <div class="row">
        <div class="col">
            <img height="600" alt="face" src="../images/face2.jpg">
        </div>
        <div class="col">
            <div class="pt-5 text-center">
                <h4>Vince Gunday</h4>
                <p>Full Stack | Mobile | Game Developer</p>
            </div>
            <hr/>
            <div class="pt-3">
                <p> Hi to all! Thank you for the time spent visiting my portfolio. I am a graduate of bachelors degree
                    major in Computer Engineering year 2013. I came from Philippines, province of Bohol (Central
                    Visayas) where you can find the smallest monkey in the world (Tarsier) :). I am working as a
                    Software Enginner since I started my career up to date. I love creating software automation
                    specifically that can help lessen or solve any issue that a community is exepriencing. I do love
                    mobile and web development using new development technology. I do also love to learn and explore new
                    technology that can be usefull for my career. My hobby if I am not into coding, I usually spend time
                    watching tutorial videos,movies,game development and spend time with my wife and my son. I do love
                    music and do basic design using open source software.</p>
            </div>
            <div class="mt-5 text-center">
                <a href="../raw/VinceGunday_Resume2023.pdf" class="btn btn-success" download="Resume">RESUME
                    DOWNLOAD</a>
            </div>

        </div>
    </div>
</div>