<form action="/" class="px-5">
    <h3 class="text-center">Fill in the details</h3>
    <div class="row mt-4">
        <div class="col">
            <input required name="name" type="text" class="form-control" placeholder="First name" aria-label="First name">
        </div>
        <div class="col">
            <input required name="last_nam" type="text" class="form-control" placeholder="Last name" aria-label="Last name">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <input required type="email" name="email" class="form-control" placeholder="Enter Email" aria-label="email">
        </div>
        <div class="col">
            <input type="text" name="number" class="form-control" placeholder="Contact Number" aria-label="contact">
        </div>
    </div>
    <hr/>
    <div class="mt-5">
        <label for="exampleFormControlTextarea1" class="form-label">Message</label>
        <textarea  name="message" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="float-end mt-3">
        <input class="btn btn-success" type="submit" value="SUBMIT NOW">
    </div>

</form>