<!DOCTYPE html>
<html>
<head>
    <%- include('head'); %>
</head>
<body data-bs-theme="dark">
<header>
    <%- include('header'); %>
</header>
<main class="container mt-4"><%- body %></main>
</body>
</html>
