<div class="container">
    <div class="row mt-5">
        <div class="col">
            <div class="row">
                <div class="col">
                    <img src="https://pbs.twimg.com/profile_images/1493476962329055232/rs0ABOAY_400x400.jpg"
                         class="img-thumbnail" alt="...">
                </div>
                <div class="col">
                    <h5>Panda Siege</h5>
                    <hr/>
                    <p>NFT blockchain 2D game.Technology used are C# and Unity3D engine. I am part of the development
                        team and was assigned on to UI development task</p>
                    <a type="button" class="btn btn-outline-success" href="https://www.pandasiege.app/">READ MORE</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <img src="https://uploads-ssl.webflow.com/629efd12e1add0d3e55f43b8/63bfef4e7842c56e2f9cccb2_pm-f.webp"
                         class="img-thumbnail" alt="...">
                </div>
                <div class="col">
                    <h5>Pixelmon</h5>
                    <hr/>
                    <p>NFT Game using Unity3D engine. This game is a collection of pixelmon monsted. My main duties and
                        responsibilities are implmenting gameplay features and debugging.</p>
                    <a href="https://www.pixelmon.ai/" type="button" class="btn btn-outline-success">READ MORE</a>
                </div>
            </div>
        </div>

    </div>
    <div class="row mt-5">
        <div class="col">
            <div class="row">
                <div class="col">
                    <img src="https://nftartistsbohol.web.app/img/logo.4d42252c.png"
                         class="img-thumbnail" alt="...">
                </div>
                <div class="col">
                    <h5>NFT Artist Bohol</h5>
                    <hr/>
                    <p>A web app platform made with Vue.js. Which is a directory listing of an organization of NFT artist in our local province of Bohol.</p>
                    <a href="https://nftartistsbohol.web.app/" type="button" class="btn btn-outline-success">READ MORE</a>
                </div>
            </div>
        </div>
        <div class="col">
<!--            EMPTY-->
        </div>

    </div>

</div>